*
::before,
::after
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,html {
    color: #A71680

    ;
    height: 100vh;
    font-family:  Tahoma, Verdana, sans-serif;
    line-height: 2;
    /* background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)); */
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #EFCAD6;

  }



  .menu-nav__item{
      list-style: none;
      display:inline;    

  }

  .menu-nav__item a{
	padding:7px;
	text-decoration:none;
    
  }

.home{
    /* padding-top: 10vh; */
    text-align: center;
    /* height: 100%; */
}

.menu-1, .menu-2, .menu-3, .menu-4{
  font-size: 2rem;
}




.name{
    border-bottom: 2px solid #EB5E31;
    font-size: 5rem;
    color: green;
}
.web{
  color: #E6A737;
}



nav .menu-nav__item.active > a {
    color: #ff625f;
  }


  nav .menu-nav__link {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem ;
    font-weight: 320;
    transition: all 0.5s ease-in-out;
  }

  nav .menu-nav__link:hover {
    color: #ff625f;
    text-decoration: none;
  }


  
  .nav .menu-nav__item.active > a {
    color: #ff625f;
  }
  
  
  .nav .menu-nav__link:hover {
    color: #ff625f;
  }
  


  h1,h2,h3{
      font-weight: 400;
  }

  a{
      color: #fff;
      text-decoration: none;
  }

  header {
    width: 100%;
    /* z-index: 2; */
    padding: 1rem;
  }

  main {
    /* height: 100%; */
    width: 100%;
  }

  main .social-icons{
      bottom: 5rem;
      left: 3rem;
  }

  main .social-icons a {
    padding: 1.5rem;
    transition: all 0.5s ease-in-out;
    color: #fff;
  }

  main .social-icons a:hover {
    color: #ff625f;
  }

  /* .flex-wrapper{
    background-color: #EB5E31;
    height: 100vh;
  } */


  

  .resume-bio{
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer-wrapper{
    width: 100%;
background: #E6A737; 
height: 10vh;
justify-content: center;
align-items:center;
text-align: center;
color: #fff;
padding-top: 3rem;
 }


.flex-wrapper {
  height: 100vh;
  justify-content: space-between;

}


  /* projects */

  .projects{
      padding-bottom: 2rem;
  }

  .bio{
      height: 10vh;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
  }


  .text{
      font-size: 3rem;
      margin-bottom: .5rem;
      padding-top: 2rem;
      color: #EB5E31;
  }

  .projects-items{
      width: 80vh;
      display: grid;
      /* height: 40rem; */
      grid-gap: 2rem;
      margin: 2rem auto;
      grid-template-columns: repeat(1,1fr) ;
      position: relative;
  }

   

  .project--item {
    position: relative;
    border-bottom: 5px solid #ff625f;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
  }


  .project--item img{
      width: 100%;
  }


  .project--item::after, .text-white::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ff625f;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  
  .project--item:hover::after {
    top: 0;
    opacity: 0.9;
  }

  .text-white::after{
    opacity: 0.9;
  }
  .img-1{
    height: 100%;
    width: 100vh;
  }
  /* .img-2{
    height: 17.4rem;
  } */

  .projects-btns  {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    -ms-flex-align: center;
    -ms-grid-template-columns:(1fr);
    -webkit-box-align: center;
  }

  .text-white{
    position:relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    align-items: center;
    text-align: center;
    -ms-flex-align: center;   
     text-transform: uppercase;
     margin: auto;

  }


  .project--item:hover .projects-btn {
    opacity: 1.0;
  }
  .project--item:hover .text-white{
    opacity: 1.0;
  }



  .projects-btn {
    opacity: 0.0;
    color: #000;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }

  .text-white{
    opacity: 0.0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }

  .projects-btn:hover {
    color: #fff;
  }
  
  .project footer{
    margin-top: 2rem;
  }




  /* skills */

  .my-skills{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
  }
  .my-skill{
    cursor: pointer;
    padding: 5px;
  }

  .my-skill:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: 5px 5px 5px 5px #333;
  }

  .value h3{
    font-size: 30px;
    font-weight: 600;
  }

  .value h3 p{
    font-size: 20px;
    font-weight: 400;
    line-height: .5;
    width: 100%;
  }

  .value:hover{
    transition: all 0.4s ease-in-out;
    box-shadow:5px 5px 5px 5px #333 ;
  }

  .my-value{
    width: 100vh;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 2fr) ;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }

  .values{
    align-content: center;
    justify-content: center;
  }

  
  .value img{
    width: 100%;
}


  .my-skill .fab{
    font-size: 10rem;
  }


  .skill{
    font-size:4rem;
    text-transform: uppercase;
    text-decoration: underline;  
    color: #E6A737;
  }

  .certeficate{
    display:flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
  }

  

   .social-icons{
    bottom: 5rem;
    margin-bottom: 20px;
  }

  .text-name{
    color: aqua;
  }

  


  /* contact */

  .contact{
    padding-top: 2rem;
    text-align: center;

  }
  .contact h2{
    font-size: 3.5rem;
    text-transform: uppercase;
    color: royalblue;
  }

  .contact-list{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    font-size: 1.5rem;
  }

.contact-email, .contact-phone{
  padding: 1rem;
  color: #fff;
}

.contact-list a{
  color: #ff625f;
}

.contact-list a:hover{
  color: #E6A737;
  text-decoration: none;
}


.contact .social-icons{
  margin-top: 1rem;
}

/* @Media */

@media screen and (max-width:300px), ( max-width:400px), (max-width:450px) {
  .my-skills{
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    width: 100%;
    margin:  10px;
    align-content: center;
    justify-content: center;
  }

  .my-value{
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
    width: auto;
  }

  .values{
    align-content: center;
    justify-content: center;
  }

  
  .projects-items{
    width: 90%;
    display: grid;
    grid-gap: 2rem;
    margin: 2rem auto;
    grid-template-columns: repeat(1,1fr) ;
    position: relative;
}

.contact-list{
  display: grid;
  align-items: center;
  justify-content:space-evenly;
  font-size: 1.5rem;
}

.contact h2{
  font-size: 2.8rem;
}

main .social-icons a {
  padding: 1rem;
  
}
}



@media screen and (min-width: 768px) {


  .nav .menu-nav__item {
    display: inline;
    padding: 1rem;
  }
  .nav .menu-nav__link {
    font-size: 1rem;
  }

  .projects-btns  {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: row;
  }
  
  .bio {
    height: 10vh;
  }
  .projects-items {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(2, 1fr);
  }
  .projects .text-white {
    font-size: 1rem;
  }
  .contact__list {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width:1000px){
  .my-value{
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 2fr) ;
  }

  .values{
    align-content: center;
    justify-content: center;
    margin: 2rem;
  }
}

@media screen and (min-width:700px), (max-width:800) {
  .my-value{
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 2fr) ;
  }

  .values{
    align-content: center;
    justify-content: center;
  }

 
}

 